@font-face {
    font-family: Pacifico;
    src: url("../fontFiles/Pacifico/Pacifico-Regular.ttf");
}

@font-face {
    font-family: Playfair;
    src: url("../fontFiles/Playfair/PlayfairDisplay-VariableFont_wght.ttf");
}

@font-face {
    font-family: Raleway;
    src: url("../fontFiles/Raleway/Raleway-VariableFont_wght.ttf");
}

/* 

Color codes  --> https://colorhunt.co/palette/645caaa084cabface0ebc7e8

#645CAA
#A084CA
#BFACE0
#EBC7E8

*/

*{
    scrollbar-color: #645CAA #BFACE0;
    scrollbar-width: 5px;
}

body{
    font-family: Raleway;
    background-color: #645CAA;
}

header{
    color: #EBC7E8;
}

.header-brand-title{
    font-weight: 700;
    color: #EBC7E8;
}

.nav-link{
    color: #BFACE0 !important;
}

.active{
    color: #EBC7E8 !important;
    font-weight: 600;
}

.nav-link:hover{
    color: #ddd7e9 !important;
}

.header-favs{
    padding: 4px;
}

.show-web-title{
    height: 200px;
    margin-top: 3%;
}

.web-showcase{
    height: auto;
    /* background-color: white; */
    margin-top: 4%;
}

.web-showcase-events{
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    background-color: #A084CA;
    color: #EBC7E8;
    height: 420px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 30px;
    transition-delay: 0.3s;
    transition-timing-function: ease;
    text-align: center;
}

.showcase-events-desc{
    display: none;
    font-size: 17px;
    text-indent: 50px;
    color: #BFACE0;
    font-weight: 600;
    margin-top: 20px;
}


article{
    font-size: 17px;
    color: #A084CA;
    font-weight: 600;
}

h1{
    color: #BFACE0;
    font-weight: 800;
}

.web-showcase-container{
    
}

.startUpDisplay{
    margin-top: 80px;
    margin-bottom: 80px;
    padding-top: 120px !important;
    padding-bottom: 120px !important;
    height: auto;
    background-color: rgb(247, 247, 247);
    background-image: url("../images/otherImages/animated-shape-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px inset, rgba(0, 0, 0, 0.12) 0px -12px 30px inset, rgba(0, 0, 0, 0.12) 0px 4px 6px inset, rgba(0, 0, 0, 0.17) 0px 12px 13px inset, rgba(0, 0, 0, 0.09) 0px -3px 5px inset;
}

.getStartedContent{
    height: 320px;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 30px;
    color: #BFACE0;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
}

.g-3{
    padding: 1rem;
}

.displaySportsFavs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    place-content: center;
    place-items: center;
    font-size: 20px !important;
    margin-bottom: 12px !important;
    overflow: initial;
}

.sportsFavs{
    padding: 10px;
}

.btn-outline-secondary{
    --bs-btn-hover-bg: #BFACE0;
}

.predictOptionDisplay{
    margin-top: 80px;
    margin-bottom: 80px;
    padding-top: 120px !important;
    padding-bottom: 120px !important;
    height: auto;
    background-color: rgb(247, 247, 247);
    background-image: url("../images/otherImages/rect-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px inset, rgba(0, 0, 0, 0.12) 0px -12px 30px inset, rgba(0, 0, 0, 0.12) 0px 4px 6px inset, rgba(0, 0, 0, 0.17) 0px 12px 13px inset, rgba(0, 0, 0, 0.09) 0px -3px 5px inset;

}

.predictOptionDisplayContent{
    height: auto;
    padding: 40px;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 30px;
    color: #BFACE0;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
}

.predictOptionsContainer{
    box-shadow: rgba(130, 43, 201, 0.2) 0px 7px 29px 0px inset;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    place-content: center;
    place-items: center;

}
/* 
.predictOptionsContainer:hover{
    box-shadow: rgba(130, 43, 201, 0.2) 0px 7px 29px 0px; */

.predictOptionHeader{
    /* text-align: center; */
    font-weight: 800;
    color: #d3c8e7;
}